{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="login-container">
        <h1>Check your email to complete registration</h1>
        <div>
            {{ 'registration.check_email'|trans({'%email%': user.email}) }}
        </div>
        <div class="login-help">
            <a href="{{ path('fos_user_security_login') }}">Back to login</a>
        </div>
    </div>
{% endblock fos_user_content %}
