<div class="row">
    <div class="col-md-12">
        {{ title|default('Title') }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.getFullName }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success"><i class="glyphicon-plus"></i> Add</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>